name: Trigger auto deployment for coursehema-backend-ca

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/coursehema-backend-ca-AutoDeployTrigger-73a2ee1c-50df-4699-be70-e9092bd9a765.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.COURSEHEMABACKENDCA_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.COURSEHEMABACKENDCA_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.COURSEHEMABACKENDCA_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: coursehema35.azurecr.io
          registryUsername: ${{ secrets.COURSEHEMABACKENDCA_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.COURSEHEMABACKENDCA_REGISTRY_PASSWORD }}
          containerAppName: coursehema-backend-ca
          resourceGroup: course-hema
          imageToBuild: coursehema35.azurecr.io/coursehema-backend-ca:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


